[Unit]
Description=Service that runs the Notes service locally
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/ubuntu/package/manage.sh start

[Install]
WantedBy=multi-user.target
